<footer>
    <p>Slipseknuden</p>
    <p>Slipsevej 79</p>
    <p>4300</p>
    <p>Holbæk</p>
    <p>info@Slipseknuden.dk</p>
    <p>www.slipseknuden.dk</p>
    <p>Tlf: 88 99 66 44</p>
</footer>
<style>
    footer {
        display: inline-block;
        margin-bottom: 5px;
        margin-top: 20px;
    }

    footer p {
        display: inline;
        margin-left: 60px;
    }
</style>