<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">



		<ul class="nav navbar-nav">
			<li><a href="/">Hjem</a></li>
			<li><a href="/omslipseknuden">Om Slipseknuden</a></li>
			<li><a href="/garanti">Garanti</a></li>
			<li><a href="/kontakt">Kontakt</a></li>
			<li><a href="/nyheder">Nyheder</a></li>
			<li><a href="/produkter">Produkter</a></li>

			<div class="header_div">
				<input type="text">
				<i class="fa fa-search header_fa" aria-hidden="true"></i>
				<i class="fa fa-facebook header_fa" aria-hidden="true"></i>
				<i class="fa fa-twitter header_fa" aria-hidden="true"></i>
			</div>
		</ul>

	</div>
</nav>
<img src="/img/sk_logo.png" alt="">