<style>
    h2 {
        margin-left: 50px;
    }

    .prod_nav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 20%;
        background-color: #000000;
        display: inline-block;
    }

    .prod_nav li {
        border-bottom: 1px solid White;
        padding-top: 14px;
    }

    .prod_nav li a {
        display: block;
        color: #FFFFFF;
        padding: 8px 16px;
        text-decoration: none;
        height: 45px;
    }

    /* Change the link color on hover */

    li a:hover {
        background-color: white;
        color: black;
    }
</style>

<body>

    <h2>Produkter</h2>
    <ul class="prod_nav">
        <li><a href="#home">ALLE</a></li>
        <li><a href="#news">SHOON</a></li>
        <li><a href="#contact">KOREA SPECIAL</a></li>
        <li><a href="#about">US. IMPORTS</a></li>
        <li><a href="#about">SLEEK FABRICS UK</a></li>
    </ul>